
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000000;
  overflow: hidden;
}
.container
{
  position:absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card
{
  position: absolute;
  width: 5vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0);
  font-size: 8em;
  font-weight: 700;
  border: none;
  transition: 1s;
  transform-origin: 30% 100%;
  filter: hue-rotate(calc(var(--i)*230deg));
}
.container:hover .card
{
  
  /*no rotation*/
  transform:translate(calc(var(--i)*12.5vw));
}

.crop-to-fit {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
}


.card .crop-to-fit img { 
  flex-shrink: 0;
  min-width:100%;
  max-height:100vh;
  transition: transform 0.7s ease;
}

.card .crop-to-fit img:hover {
  /* image changes on hover */
  transform: scale(1.2);
}



@keyframes fadeIn{
    to{
        opacity: 1;
    }
}
.fade-In{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}